
exports.json = {
  server_port: 3000,

  //proxy_host: "http://xjz_node.ap01.aws.af.cm",
  proxy_host: "http://xjz_nod.cloudfoundry.com",
  //proxy_port: 80,

  // proxy_host: "http://localhost",
  // proxy_port: 3000,

  local_port: 7878,

  headers_url_key: "xjz-call-path",

  crypto: {
    algorithm: "aes192",
    key: "SDkjs9ldJF(#@0231"
  }
}