
exports.json = {
  server_port: 3000,

  proxy_host: "http://www.server.com",
  proxy_port: 80,

  local_port: 7878,

  headers_url_key: "xjz-call-path",

  crypto: {
    algorithm: "aes192",
    key: "SDkjs9ldJF(#@0231"
  }
}